RewriteEngine On

# Если это существующий файл или папка в public/ — отдаем их напрямую (CSS, JS, картинки)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Все остальные запросы отправляем на index.php
RewriteRule ^(.*)$ index.php [L,QSA]